
footer{
display: flex;
justify-content: center;

}

.father-button__footer{
  border: none;
  border-radius: 7px;
  width: 220px;
  height: 80px;
  box-shadow: 1px 1px 1px 1px  #ce7800;
  background-color:  #fff;
  color: #fca120;
  font-family: Nickname;
  font-size: 30px;
  font-weight: 700;
  z-index: 2;
  display: flex;
  padding: 18px;
  margin-top: 150px;
  margin-bottom: 200px;
  outline: none;

}


